.item img{
    height: 30px;
    width: 30px;
}
.navbar{
    height: 80px;
    .menu{
        display: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
    }
    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        gap: 25px;
        .item{
            font-size: 1.2rem;
            align-items: center;

        }
        .left{
            display: flex;
            align-items: center;
            gap: 25px;


        }
        .center{
            font-size: 1.4rem;

        }
        .right{
            display: flex;
            align-items: center;
            gap: 25px;
            .search-section{
                height: 25px;
                width: 200px;
                display: flex;
                position: relative;
                border: 1px solid black;
                border-radius: 3px;
                padding: 1px;
                input{
                    height: 90%;
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: none;
                }
                .searchbtn{
                    cursor: pointer;
                }
                // .search-results{
                //     height: 100px;
                //     width: 200px;
                //     background-color: white;
                //     position: absolute;
                //     top: 10%;
                //     right: 0%;
                // }
            }
            .icons{
                display: flex;
                gap: 25px;
                align-items: center;
                cursor: pointer;

            }

        }
    }

}

@media only screen and (max-width: 900px) {
    .navbar{
        .wrapper{
            justify-content: center;
            .right{
                position: absolute;
                right: 0;
                top: 0;
                padding: 15px 20px 0 20px;
                // display: none;
                .search-section{
                    display: none;
                }
            }
            .left{
                display: none;
            }
        }
        .menu{
            display: flex;
        }
    }

    
  }

@media only screen and (max-width:500px) {
    .navbar{
        .wrapper{
            padding: 10px 2px;
            .center{
                margin-right: 50px;
            }
            .right{
                gap: 5px;
                .icons{
                    gap: 5px;
                } 
            }

        }
    }
    
}  
  