.item img {
    height: 30px;
    width: 30px;
}

.navbar {
    height: 55px;
    position: relative;
    .searchcompo{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
        background-color: white;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;
        gap: 20px;
        input{
            height: 80%;
            width: 80%;
            outline: none;
            border: none;
        }
    }

    .menu {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
    }

    .wrapper {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        gap: 25px;

        .item {
            font-size: 1.2rem;
            align-items: center;

        }

        .left {
            display: flex;
            align-items: center;
            gap: 25px;


        }

        .center {
            font-size: 1.4rem;

        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;

            .search-section {
                height: 25px;
                width: 350px;
                display: flex;
                position: relative;
                border: 1px solid black;
                border-radius: 3px;
                padding: 1px;

                input {
                    height: 90%;
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: none;
                }

                .searchbtn {
                    cursor: pointer;
                }

                // .search-results{
                //     height: 100px;
                //     width: 200px;
                //     background-color: white;
                //     position: absolute;
                //     top: 10%;
                //     right: 0%;
                // }
            }

            .icons {
                display: flex;
                gap: 25px;
                align-items: center;
                cursor: pointer;
                .searchicon{
                    display: none;
                }
                .loginBtn{
                    background-color: rgb(236, 236, 236);
                    color: rgb(75, 75, 75);
                    font-size: 14px;
                    letter-spacing: 1px;
                    outline: none;
                    font-weight: 500;
                    padding: 6px 10px;
                    border: none;
                    border-radius: 5px;
                }
                .loginBtn:hover{
                    background-color: rgb(209, 208, 208);
                }

            }
            .addcart{
                position: relative;
                div{
                    position: absolute;
                    top: -1px;
                    left: 17px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 12px;
                    width: 12px;
                    span{
                        font-size: 11px;
                        font-weight: 600;
                    }
                }

            }

        }
    }

}

@media only screen and (max-width: 1040px) {
    .navbar {
        .searchcompo{

        }
        .wrapper {
            justify-content: space-between;

            .right {
                display: flex;
                align-items: center;
                gap: 25px;

                .search-section {
                    display: none;
                }
                .icons{
                    .searchicon{
                        display: flex;
                    }
                }
            }

            .left {}
        }

        .menu {}
    }


}

@media only screen and (max-width: 900px) {
    .navbar {
        .wrapper {
            justify-content: center;

            .right {
                position: absolute;
                right: 0;
                top: 0;
                padding: 15px 20px 0 20px;

                // display: none;
                .search-section {
                    display: none;
                }
            }

            .left {
                display: none;
            }
        }

        .menu {
            display: flex;
        }
    }


}

@media only screen and (max-width:500px) {
    .navbar {
        .wrapper {
            padding: 10px 2px;

            .center {
                margin-right: 50px;
            }

            .right {
                gap: 5px;

                .icons {
                    gap: 5px;
                    .loginBtn{
                        background-color: rgb(236, 236, 236);
                        color: rgb(75, 75, 75);
                        font-size: 12px;
                        outline: none;
                        font-weight: 300;
                        padding: 5px 9px;
                        border: none;
                        border-radius: 5px;
                    }

                }
                div{
                    top: -1px;
                    left: 10px;
                    span{
                        
                    }
                }
            }

        }
    }

}