.footer{
    .item{
        padding: 40px;
        span{
            display: flex;
            flex-direction: column;
            max-width: 300px;

        }
        .link:hover{
            text-decoration: underline;
            
        }
    }
    .top{
        display: flex;
        gap: 25px;
        justify-content: space-between;
        

    }
    .bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .left{
            .logo{
                font-size: 1.5rem;
            color: rgb(73, 216, 204);
            font-weight: bold;
            margin-right: 30px;

            }
            .copyright{
                font-size: 1.2rem;

            }
        }
    }
}

@media only screen and (max-width:850px) {
    .footer{
        .top{
            gap: 10px;
            .item{
                padding: 10px;
                h1{
                    font-size: 20px;
                }
            }

        }
        .bottom{
            .left{
                .logo{
                    font-size: 18px;
                color: rgb(73, 216, 204);
                font-weight: bold;
                margin-right: 30px;
    
                }
                .copyright{
                    font-size: 16px;
    
                }
            }

        }
    }

    
}

@media only screen and (max-width:600px) {
    .footer{
        .top{
            gap: 10px;
            .item{
                padding: 10px;
                h1{
                    font-size: 15px;
                }
                span{
                    font-size: 12px;
                }
            }

        }
        .bottom{
            .left{
                .logo{
                    font-size: 16px;
                color: rgb(73, 216, 204);
                font-weight: bold;
                margin-right: 30px;
    
                }
                .copyright{
                    font-size: 14px;
    
                }
            }

        }
    }

    
}

@media only screen and (max-width:375px) {
    .footer{
        .top{
            flex-wrap: wrap;
            gap: 20px;

        }
        .bottom{
            .left{
                flex-direction: column;
                
                .logo{
                    font-size: 12px;
                color: rgb(73, 216, 204);
                font-weight: bold;
                margin-right: 30px;
    
                }
                .copyright{
                    font-size: 10px;
    
                }
            }

        }
    }

    
}