.products {
    display: flex;
    gap: 30px;
    position: relative;

    .none {
        display: none;
    }
    .category{
        display: none;
    }

    .category-btn {
        display: none;
    }
    .filterbtn{
        display: none;
    }

    .left {
        flex: 1;
        position: sticky;
        height: 100%;
        top: 50px;
        margin-left: 40px;

        .filterItem {
            margin-bottom: 30px;

            h2 {
                font-weight: 400;
                margin-bottom: 20px;

            }

            .inputItem {
                margin-bottom: 10px;

                label {
                    margin-left: 10px;
                }
            }
        }
        .apply{
            display: none;
        }

    }

    .right {
        flex: 3;

        .theme-img {
            height: 250px;
            width: 1000px;
            margin-bottom: 50px;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
        }
    }
}

@media only screen and (max-width:1080px) {
    .left {
        // display: none;
    }

    .right {
        .theme-img {
            display: none;
        }

        .list {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }

}




@media only screen and (max-width:427px) {
    .products{
        display: flex;
        flex-direction: column;
        // margin-top: 50px;
        .category{
            display: flex;
            font-size: 2rem;
            padding: 10px;
            position: absolute;
            top: 0;
            left: 2%;
            margin-bottom: 50px;
        }
        .filterbtn{
            display: flex;
        }
        .left{
            display: none;
            // .apply{
            //     display: flex;
            // }
        }
        .right{
            display: flex;
            justify-content: center;
            align-items: center;
            .list {
                // flex-wrap: wrap;
                // justify-content: center;
                // align-items: center;
            }
        }

    }

}