//Admin
.admin{
    height: 100vh;
    
}






//AdminLogin
.admin-login{
    // height: 600px;
    // width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .login-box{
        border: 1px solid rgb(215, 215, 255);
        gap: 10px;
        border-radius: 10px;
        width: 300px;
        background-color: white;
        padding: 20px;
        display: flex;
        justify-content: start;
        flex-direction: column;
        input{
            height: 20px;
            border: 1px solid gray;
            outline: none;
            padding: 5px;
            border-radius: 4px;
        }
        label{
            gap: 5px;
            display: flex;
            flex-direction: column;
        }
        .btn{
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: column;
            .login-btn{
                margin: auto;
                background-color: rgb(100, 100, 255);
                color: white;
                font-weight: 500;
                font-size: 15px;
                border-radius: 5px;
                border: none;
                padding: 10px;
                width: 100%;
                outline: none;
                cursor: pointer;
            }
        }
        span{
            font-size: 12px;
            color: rgb(52, 71, 142);
            text-decoration: underline;
        }
    }

}

//adminjs
.admin-page-change{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: violet;

    

}
.admin-page-sidebar{
    height: 100vh;
    width: 20%;
    background-color: red;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 20px;
    .item{
        background-color: white;
        border-radius: 5px;
        padding: 5px 9px;
        width: 90%;
        cursor: pointer;

    }
}
.admin-page-content{
    height: 100%;
    width: 80%;
    background-color: rgb(18, 5, 5);
    display: flex;
    flex-direction: column;
    position: relative;
    .data-nav{
        height: 100px;
        width: 100%;
        background-color: blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .add-item{
            background-color: rgb(0, 0, 0);
            padding: 8px 12px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            outline: none;
            border: none;
        }
    }
    .data-block{
        height: 700px;
        width: 100%;
        background-color: rgb(32, 254, 254);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        .data-box{
            padding: 10px;
            background-color: white;
            border-radius: 5px;
            width: 90%;
            height: 200px;
            margin-top: 30px;
            position: relative;
            display: flex;
            font-size: 7px;
            .b-1{
                width: 30%;
            }
            .b-2{
                width: 70%;
            }
            .remove{
                position: absolute;
                bottom: 2%;
                right: 1%;
                color: red;
                // z-index: 1000;
            }
            .edit{
                position: absolute;
                bottom: 2%;
                right: 4%;
                color: red;

            }
        }

    }
    .data-entry{
        position: absolute;
        background-color: white;
        height: 560px;
        width: 500px;
        border-radius: 5px;
        top: 5%;
        left: 18%;
        z-index: 999;
        border: 1px solid rgb(211, 211, 211);
        justify-content: start;
        align-items: start;
        padding: 20px;
        gap: 10px;
        flex-direction: column;
        .flex-item{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            span{
                color: rgb(85, 85, 85);
            }
            input{
                width:100%;
                background-color: rgba(241, 241, 241, 0.56);
                border: none;
                outline: none;
                border-radius: 3px;
                padding: 3px 3px 3px 8px;
                border: 1px solid rgb(192, 192, 192);
            }
        }
        .flex-price{
            display: flex;
            gap: 20px;
            justify-content: space-between;
        }
        .flex-button{
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 20px;
            .submit{
                cursor: pointer;
                padding: 5px 10px;
                border: none;
                outline: none;
                background-color: rgb(118, 214, 228);
                color: white;
                border-radius: 5px;
            }
            .cancel{
                cursor: pointer;
                padding: 5px 10px;
                border: none;
                outline: none;
                color: white;
                border-radius: 5px;
                background-color: gray;
            }
        }
    }

}